<script setup lang="ts">
import Header from "../components/Header.vue";
import DayInfo from "../components/DayInfo.vue";
import Cards from "../components/Cards.vue";
import { useWeatherStore } from "../stores/weather";
import Loading from "../components/Loading.vue";

const weatherStore = useWeatherStore();
weatherStore.getData();
</script>

<template>
  <Loading v-if="weatherStore.isLoading"></Loading>
  <div v-else class="p-5 pb-10">
    <div class="mx-auto max-w-6xl dark:bg-black dark:text-white">
      <Header></Header>
      <DayInfo></DayInfo>
      <Cards></Cards>
    </div>
  </div>
</template>
