<script setup lang="ts">
import { useWeatherStore } from "@/stores/weather";

const weatherStore = useWeatherStore();

const currentDay = (dtIn: number): string => {
  let d = new Date(dtIn * 1000);
  let utc_offset = d.getTimezoneOffset();
  d.setMinutes(d.getMinutes() + utc_offset);

  if (weatherStore.currentWeather)
    d.setMinutes(d.getMinutes() + weatherStore.currentWeather.timezone / 60);

  let date = "";
  if (d.getDate() < 10) {
    date = `0${d.getDate()}`;
  } else {
    date = `${d.getDate()}`;
  }

  let month = "";
  if (d.getMonth() + 1 < 10) {
    month = `0${d.getMonth() + 1}`;
  } else {
    month = `${d.getMonth() + 1}`;
  }

  return `${date}.${month}.${d.getFullYear()}`;
};

const currentTime = (dtIn: number): string => {
  let d = new Date(dtIn * 1000);
  let utc_offset = d.getTimezoneOffset();
  d.setMinutes(d.getMinutes() + utc_offset);

  if (weatherStore.currentWeather)
    d.setMinutes(d.getMinutes() + weatherStore.currentWeather.timezone / 60);

  let hour = "";
  if (d.getHours() < 10) {
    hour = `0${d.getHours()}`;
  } else {
    hour = `${d.getHours()}`;
  }

  let minutes = "";
  if (d.getMinutes() < 10) {
    minutes = `0${d.getMinutes()}`;
  } else {
    minutes = `${d.getMinutes()}`;
  }

  return `${hour}:${minutes}`;
};
</script>

<template>
  <div class="mt-12">
    <a
      class="bg-primary py-2 px-5 text-white rounded-[5px] font-medium"
      href="https://openweathermap.org/forecast5"
      target="blank"
    >
      Прогноз на 5 дней / 3 часа
    </a>
  </div>
  <div
    class="mt-2 rounded-b-[20px] p-5 shadow-md shadow-gray-200 dark:shadow-gray-700 flex gap-5 overflow-auto"
  >
    <div
      v-for="weather in weatherStore.hourlyWeather"
      :key="weather.dt"
      class="rounded-[10px] bg-primary/20 p-3 w-40 shrink-0"
    >
      <h3 class="text-lg font-medium">{{ currentTime(weather.dt) }}</h3>
      <p class="mb-3 mt-2 text-sm text-gray-400 dark:text-gray-300">
        {{ currentDay(weather.dt) }}
      </p>
      <div>
        <img
          v-if="weather.weather[0].main === 'Clouds'"
          style="width: 48px; height: 48px"
          src="/images/mainly_cloudy.svg"
          alt="weather description"
        />
        <img
          v-else-if="weather.weather[0].main === 'Clear'"
          style="width: 48px; height: 48px"
          src="/images/sun.svg"
          alt="weather description"
        />
        <img
          v-else-if="weather.weather[0].main === 'Rain'"
          style="width: 48px; height: 48px"
          src="/images/rain.svg"
          alt="weather description"
        />
      </div>
      <h3 class="mt-3 text-lg font-medium">
        {{ Math.round(weather.main.temp) }}°
      </h3>
      <p class="text-[13px] text-gray-400 dark:text-gray-300">
        {{ Math.round(weather.main.feels_like) }}°
      </p>
      <p
        class="mt-[6px] text-[13px] text-gray-400 dark:text-gray-300 line-clamp-2"
      >
        {{ weather.weather[0].description }}
      </p>
    </div>
  </div>
</template>
