<script setup lang="ts">
import { useWeatherStore } from "@/stores/weather";

const weatherStore = useWeatherStore();

const currentTime = (timezoneIn: number, dtIn: number): string => {
  let d = new Date(dtIn * 1000);
  let utc_offset = d.getTimezoneOffset();
  d.setMinutes(d.getMinutes() + utc_offset);
  d.setMinutes(d.getMinutes() + timezoneIn / 60);

  let hour = "";
  if (d.getHours() < 10) {
    hour = `0${d.getHours()}`;
  } else {
    hour = `${d.getHours()}`;
  }

  let minutes = "";
  if (d.getMinutes() < 10) {
    minutes = `0${d.getMinutes()}`;
  } else {
    minutes = `${d.getMinutes()}`;
  }

  return `${hour}:${minutes}`;
};
</script>

<template>
  <div
    v-if="weatherStore.currentWeather"
    class="mt-10 flex flex-col gap-5 lg:flex-row"
  >
    <div
      class="shrink-0 rounded-[20px] p-5 shadow-md shadow-gray-200 dark:shadow-gray-700 lg:w-[400px]"
    >
      <div class="relative">
        <h2 class="text-8xl font-medium text-primary">
          {{ Math.round(weatherStore.currentWeather.main.temp) }}°
        </h2>
        <h3 class="text-4xl">Сегодня</h3>
        <p class="mt-5 text-[25px] text-gray-400 dark:text-gray-300">
          Время:
          {{
            currentTime(
              weatherStore.currentWeather.timezone,
              weatherStore.currentWeather.dt
            )
          }}
        </p>
        <p class="text-[25px] text-gray-400 dark:text-gray-300">
          Город: {{ weatherStore.currentWeather.name }}
        </p>
        <div class="absolute right-0 top-4">
          <img
            v-if="weatherStore.currentWeather.weather[0].main === 'Clouds'"
            style="width: 119px; height: 119px"
            src="/images/mainly_cloudy.svg"
            alt="weather description"
          />
          <img
            v-else-if="weatherStore.currentWeather.weather[0].main === 'Clear'"
            style="width: 119px; height: 119px"
            src="/images/sun.svg"
            alt="weather description"
          />
          <img
            v-else-if="weatherStore.currentWeather.weather[0].main === 'Rain'"
            style="width: 119px; height: 119px"
            src="/images/rain.svg"
            alt="weather description"
          />
        </div>
      </div>
    </div>
    <div
      class="relative flex w-full flex-col justify-between gap-5 overflow-hidden rounded-[20px] p-8 shadow-md shadow-gray-200 dark:shadow-gray-700"
    >
      <div class="flex items-center gap-2">
        <span
          class="shrink-0 flex h-[38px] w-[38px] items-center justify-center rounded-full shadow shadow-primary/20 dark:shadow-primary/80"
        >
          <img src="/images/temp.svg" alt="Tempurature" />
        </span>
        <p class="w-32 shrink-0 text-sm text-gray-400 dark:text-gray-300">
          Температура
        </p>
        <p class="text-sm">
          {{ Math.round(weatherStore.currentWeather.main.temp) }}° - ощущается
          как {{ Math.round(weatherStore.currentWeather.main.feels_like) }}°
        </p>
      </div>
      <div class="flex items-center gap-2">
        <span
          class="shrink-0 flex h-[38px] w-[38px] items-center justify-center rounded-full shadow shadow-primary/20 dark:shadow-primary/80"
        >
          <img src="/images/pressure.svg" alt="Pressure" />
        </span>
        <p class="w-32 shrink-0 text-sm text-gray-400 dark:text-gray-300">
          Давление
        </p>
        <p class="text-sm">
          {{ weatherStore.currentWeather.main.pressure }} мм ртутного столба
        </p>
      </div>
      <div class="flex items-center gap-2">
        <span
          class="shrink-0 flex h-[38px] w-[38px] items-center justify-center rounded-full shadow shadow-primary/20 dark:shadow-primary/80"
        >
          <img src="/images/precipitation.svg" alt="Precipitation" />
        </span>
        <p class="w-32 shrink-0 text-sm text-gray-400 dark:text-gray-300">
          Осадки
        </p>
        <p class="text-sm">{{ weatherStore.currentWeather.main.humidity }}%</p>
      </div>
      <div class="flex items-center gap-2">
        <span
          class="shrink-0 flex h-[38px] w-[38px] items-center justify-center rounded-full shadow shadow-primary/20 dark:shadow-primary/80"
        >
          <img src="/images/wind.svg" alt="Wind" />
        </span>
        <p class="w-32 shrink-0 text-sm text-gray-400 dark:text-gray-300">
          Ветер
        </p>
        <p class="text-sm">
          {{ weatherStore.currentWeather.wind.speed }} м/с юго-запад - легкий
          ветер
        </p>
      </div>
      <div
        class="absolute right-0 top-0 w-full z-[-1] dark:z-0 flex justify-end"
      >
        <img class="w-2/3" src="/images/Cloud.png" alt="Cloud" />
      </div>
    </div>
  </div>
</template>
