@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  color-scheme: dark;
}

body {
  font-family: "Montserrat", "sans-serif";
}

body {
  @apply dark:bg-black dark:text-white;
}
